# Dependencies
node_modules/

# Environment variables
.env

# Firebase private keys
serviceAccountKey.json
utils/firebase-service.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db